<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <link rel="stylesheet" type="text/css" href="/static/css/AboutUs.css">
</head>
<body>
    <div class="pg_header">
        {% include 'header.html' %}
    </div>

    <div class="pg_body" >
        <div class="details">
            <div class="aboutus">
                <p class="p1">关于我们</p>
                <p class="p2">
                    蓝桥网是一个帮助泛IT领域人士学习、就业及职业成长的立体式、综合性服务平台。平台业务由全国参赛规模最大、权威性最高的“蓝桥杯大赛”、企业级实训
                </p>
                <p class="p2">
                    机构“蓝桥杯软件学院”、精准有效、服务贴心的“求职招聘”等模块组成，构建起从学校到职场、从线下到线上的泛IT领域人才学习及职业生涯助力系统，服务
                </p>
                <p class="p2">
                    于泛IT领域人才的成长
                </p>
            </div>

            <div class="competition">
                <p class="p1">蓝桥杯大赛</p>
                <p class="p2">
                    为促进软件和信息领域专业技术人才培养，提升高校毕业生的就业竞争力，工业和信息化部人才交流中心、教育部就业指导中心联合举办蓝桥杯大赛。七年来，
                </p>
                <p class="p2">
                    包括北大、清华在内的超过1200余所院校，五万多名学子报名参赛，IBM、百度等知名企业全程参与，成为国内始终领跑的人才培养选拔模式和行业认可度最
                </p>
                <p class="p2">
                    高的IT类科技竞赛。
                </p>
            </div>

            <div class="school">
                <p class="p1">蓝桥软件学院</p>
                <p class="p2">
                    蓝桥杯软件学院由线下企业级软件培训及在线教育两部分组成。线下，通过高校合作、共建校内实训基地，专注培养具备互联网思维，精通Java、ios、android
                </p>
                <p class="p2">
                    等主流技术的优秀技术人才。线上，提供丰富、实用、前沿的泛IT领域培训内容，帮助IT人士个人成长及终身学习，打造泛IT领域人士的卓越学习平台。
                </p>
            </div>

            <div class="invite">
                <p class="p1">求职招聘</p>
                <p class="p2">
                    从精准有效的校园招聘入手，为高校学子提供就业推荐服务，并将服务延伸至人事代理、猎头推荐、专场招聘会等领域，使求职更加简单。
                </p>
            </div>

            <div class="cooperation">
                <p class="p1">合作伙伴</p>

            </div>
            <img src="../static/images/AboutUs/about.PNG" width="100%" style="margin-left: 2rem;">
        </div>
    </div>

    <div class="pg_footer">
        {% include 'footer.html' %}
    </div>
</body>
</html>