<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网页底部信息</title>
    <link rel="stylesheet" type="text/css" href=" /static/css/bootstrap.min.css">


</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation" style="padding: 0;">
        <div class="contanier-fluid" style="background-color: #1a1a1a">
            <div class="row" style="color:grey;width: 100%;">
                <div class="col-md-3" style="text-align: center;margin-top: 20px;margin-bottom: 20px;" >
                    <img src="../static/images/footer/footer-logo.PNG"><br/>
                    <a href="#" style="color: grey">关于我们</a><br/>
                    <a href="#" style="color: grey">用户协议</a>
                </div>
                <div class="col-md-3" style="margin-top: 20px;margin-bottom: 20px;">
                    <p style="margin: 0;color: white;">支持单位</p><hr style="padding: 0;margin: 0;color: grey;"/>
                    主办单位：<br/>
                    工业和信息化部人才交流中心<br/>
                    技术支持：<br/>
                    国信蓝桥教育科技（北京）股份有限公司
                </div >
                <div class="col-md-3" style="margin-top: 20px;margin-bottom: 20px;">
                    <p style="margin: 0;color: white;">联系我们</p><hr style="padding: 0;margin: 0;color: grey;"/>
                    地址：北京市海淀区万寿路27号院工信部机关18# 邮编：100846<br/>
                    电话：4006-588-662 传真：010-68208666<br/>
                    Email:lanqiao@lanqiao.org<br/>
                    商务合作：010-68208645 hongzj@lanqiao.org<br/>
                </div>
                <div class="col-md-3" style="text-align: center;margin-top: 20px;margin-bottom: 20px;">
                    <img src="../static/images/footer/erweima.PNG">
                    <p style="font-size: 1px;">扫一扫关于蓝桥杯大赛</p>
                </div>
            </div>
        </div>
        <div style="background-color: black;text-align: center;" >
            <p style="margin:0;">
                京ICP备11024192号 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            京公网安备11010802020352号
            </p>
        </div>
    </nav>

</body>
</html>