<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>联系我们</title>
    <link rel="stylesheet" type="text/css" href="/static/css/relation.css">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css ">
</head>
<body style="background-color: #F1F1F1;">
    <div class="pg_header">
        {% include 'header.html' %}
    </div>

    <div class="pg_body" >
        <div class="relation">
            <p style="font-weight: bold;font-size: 200%;">高校联络部</p>
            <p>负责蓝桥杯竞赛的组织、管理等工作，具体包括报名、赛点安排、考务组织、教师QQ群管理等工作</p>
        </div>
        <div class="detail1">
            <div class="box1">
                <div class="p0">
                    <p style="color: blue;">
                        邓老师
                    </p>
                    <p>
                        负责区域：河南、黑龙江、河北、吉林、广西
                    </p>
                    <p>
                        联系电话：010-68208652
                    </p>
                    <p>
                        联系邮箱：dengjl@lanqiao.org
                    </p>
                </div>
                <div class="p1" >
                    <p style="padding-top: 2.5rem;color: blue;">
                    尹老师
                    </p>
                    <p>
                        负责区域：山东、四川、江西
                    </p>
                    <p>
                        联系电话：010-68208641
                    </p>
                    <p>
                        联系邮箱：yincong@lanqiao.org
                    </p>
                </div>
            </div>
            <div class="box2">
                <div class="p0">
                    <p style="color: blue;">
                    赵丽君
                    </p>
                    <p>
                        负责区域：广东、甘肃、陕西
                    </p>
                    <p>
                        联系电话：010-68208663
                    </p>
                    <p>
                        联系邮箱：zhaolj@lanqiao.org
                    </p>
                </div>
                <div class="p1">
                    <p style="padding-top: 2.5rem;color:blue;">
                        张老师
                    </p>
                    <p>
                        负责区域：湖北
                    </p>
                    <p>
                        联系电话：010-68208672
                    </p>
                    <p>
                        联系邮箱：zhanghm@lanqiao.org
                    </p>
                </div>
            </div>
            <div class="box3">
                <div class="p0">
                    <p style="color: blue;">
                    胡老师
                    </p>
                    <p>
                        负责区域：北京、安徽、浙江、辽宁
                    </p>
                    <p>
                        联系电话：010-68208671
                    </p>
                    <p>
                        联系邮箱：huyp@lanqiao.org
                    </p>
                </div>
                <div class="p1">
                    <p style="padding-top: 2.5rem;color:blue">
                    赵倩
                    </p>
                    <p>
                        负责区域：江苏、山西、上海
                    </p>
                    <p>
                        联系电话：010-68208627
                    </p>
                    <p>
                        联系邮箱：zhaoqian@lanqiao.org
                    </p>
                </div>
            </div>
            <div class="box4">
                <div class="p0">
                    <p style="color: blue;">
                    周老师
                    </p>
                    <p>
                        负责区域：福建、重庆、湖南、内蒙古、海南
                    </p>
                    <p>
                        联系电话：010-68208664
                    </p>
                    <p>
                        联系邮箱：zhoufang@lanqiao.org
                    </p>
                </div>
                <div class="p1">
                    <p style="padding-top: 2.5rem;color:blue;">
                    薛老师
                    </p>
                    <p>
                        负责区域：天津、新疆、宁夏、青海、西藏、贵州、云南
                    </p>
                    <p>
                        联系电话：010-68208630
                    </p>
                    <p>
                        联系邮箱：xueying@lanqiao.org
                    </p>
                </div>
            </div>
            <div class="box5">

                <div class="p2">
                    <div class="add">
                        <p style="font-size: 150%;font-weight: bold;">
                        高校合作部
                        </p>
                        <p>
                        负责蓝桥软件学院与高校共建合作的组织和管理等工作
                        </p>
                    </div>
                    <p style="padding-top: 2.5rem;padding-left: 3.5rem;color: blue;">
                    周老师
                    </p>
                    <p style="padding-left: 3.5rem;">
                        负责区域：福建、重庆、湖南、内蒙古、海南
                    </p>
                    <p style="padding-left: 3.5rem;">
                        联系电话：010-68208664
                    </p>
                    <p style="padding-left: 3.5rem;">
                        联系邮箱：zhoufang@lanqiao.org
                    </p>
                </div>
                <div class="p3">
                    <div class="add">
                        <p style="font-size: 150%;font-weight: bold;">
                        品牌中心
                        </p>
                        <p>
                        负责竞赛宣传、媒体合作、品牌活动，树立及传播蓝桥品牌
                        </p>
                    </div>
                    <p style="padding-top: 2.5rem;padding-left: 3.5rem;color: blue;">
                    薛老师
                    </p >
                    <p style="padding-left: 3.5rem;">
                        负责区域：天津、新疆、宁夏、青海、西藏、贵州、云南
                    </p>
                    <p style="padding-left: 3.5rem;">
                        联系电话：010-68208630
                    </p>
                    <p style="padding-left: 3.5rem;">
                        联系邮箱：xueying@lanqiao.org
                    </p>
                </div>
            </div>
            <div class="box6">
                <div class="p2">
                    <div class="add">
                        <p style="font-size: 150%;font-weight: bold;">
                        商务部
                        </p>
                        <p>
                        负责蓝桥杯大赛的商务合作工作
                        </p>
                    </div>
                    <p style="padding-top: 2.5rem;padding-left: 3.5rem;color: blue;">
                    周老师
                    </p>
                    <p style="padding-left: 3.5rem;">
                        负责区域：福建、重庆、湖南、内蒙古、海南
                    </p>
                    <p style="padding-left: 3.5rem;">
                        联系电话：010-68208664
                    </p>
                    <p style="padding-left: 3.5rem;">
                        联系邮箱：zhoufang@lanqiao.org
                    </p>
                </div>
                <div class="p3">
                    <div class="add">
                        <p style="font-size: 150%;font-weight: bold;">
                        蓝师汇
                        </p>
                        <p>
                        负责高校教师学术资源和教学资源共享交流的组织和管理工作
                        </p>
                    </div>
                    <p style="padding-top: 2.5rem;padding-left: 3.5rem;color: blue;">
                    薛老师
                    </p>
                    <p style="padding-left: 3.5rem;">
                        负责区域：天津、新疆、宁夏、青海、西藏、贵州、云南
                    </p>
                    <p style="padding-left: 3.5rem;">
                        联系电话：010-68208630
                    </p>
                    <p style="padding-left: 3.5rem;">
                        联系邮箱：xueying@lanqiao.org
                    </p>
                </div>
            </div>
        </div>

        <div class="detail2">
            <img src="../static/images/relation/relation.PNG" width="100%">
        </div>

    </div>

    <div class="pg_footer">
        {% include 'footer.html' %}
    </div>
</body>
</html>