<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>辅导资料</title>
    <link rel="stylesheet" type="text/css" href="/static/css/tutorials.css">
</head>
<body>
<div class="pg_header">
    {% include 'header.html' %}
</div>

<div class="pg-body">
    <div class="content">
        <div class="downloadfiles">
            <div class="head" style="margin-bottom: 6px;">
                <div class="block1"></div>
                <div style="font-size: 12px;">大赛组委会</div>
            </div>
            <p style="font-size: 25px;">辅导资料</p>
            <p class="time">时间</p>
            <div class="files">
                <p style="font-weight: bold;font-size: 20px;">蓝桥杯全国软件和信息技术全国专业人才大赛</p>
                <p style="margin-left: 13.5rem;font-weight: bold;font-size: 16px;margin-top: 2rem;">辅导资料</p>
            </div>
            <p style="margin-top: 5rem;font-weight: bold;margin-bottom: 1rem;"><span style="margin-right: 1.5rem;">01</span> 学生机环境-Java编程环境及API帮助文档<span
                    style="margin-left: 5rem;">文件下载</span></p>
            <a href="https://pan.baidu.com/s/1jH4fhFC" style="margin-left: 1rem;">https://pan.baidu.com/s/1jH4fhFC</a>


            <div class="file1" style="margin-top: 3rem;">
                <span style="margin-right: 2rem;font-weight: bold;">02</span><span
                    style="font-weight: bold;margin-bottom: 1rem;">Dev-cpp5.4.0及API帮助文档<span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401264331.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20161107/1478502584857555.rar">Dev-cpp5.4.0.rar</a></p>
                </div>
            </div>
            <div class="file2" style="margin-top: 3rem;">
                <span style="margin-right: 2rem;font-weight: bold;">03</span><span
                    style="font-weight: bold;margin-bottom: 1rem;">第七届蓝桥杯大赛个人赛（软件类）决赛真题<span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401264331.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20170418/1492504280399326.rar">第七届蓝桥杯大赛个人赛（软件类）决赛真题.rar</a></p>
                </div>
            </div>
            <div class="file3" style="margin-top: 3rem;">
                <span style="margin-right: 2rem;font-weight: bold;">03</span><span
                    style="font-weight: bold;margin-bottom: 1rem;">第七届蓝桥杯大赛个人赛（软件类）决赛真题<span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401264331.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20170418/1492504280399326.rar">第七届蓝桥杯大赛个人赛（软件类）决赛真题.rar</a></p>
                </div>
            </div>
            <div class="file4" style="margin-top: 3rem;">
                <span style="margin-right: 2rem;font-weight: bold;">04</span><span
                    style="font-weight: bold;margin-bottom: 1rem;">第七届蓝桥杯大赛个人赛省赛（软件类）真题<span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401264331.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20161111/1478855229183105.rar">第七届蓝桥杯大赛个人赛省赛（软件类）真题.rar</a></p>
                </div>
            </div>
            <div class="file5" style="margin-top: 3rem;">
                <span style="margin-right: 2rem;font-weight: bold;">05</span><span
                    style="font-weight: bold;margin-bottom: 1rem;">第七届蓝桥杯大赛单片机设计与开发项目模拟题 <span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401848884.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20170418/1492504280399326.rar">第七届蓝桥杯大赛单片机设计与开发项目模拟题.pdf</a></p>
                </div>
            </div>
            <div class="file6" style="margin-top: 3rem;">
                <span style="margin-right: 2rem;font-weight: bold;">06</span><span
                    style="font-weight: bold;margin-bottom: 1rem;">第七届蓝桥杯大赛嵌入式设计与开发项目模拟题<span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401848884.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20161107/1478502743167782.pdf">第七届蓝桥杯大赛嵌入式设计与开发项目模拟题.pdf</a></p>
                </div>
            </div>
            <div class="file7" style="margin-top: 3rem;">
                <span style="margin-right: 2rem;font-weight: bold;">07</span><span
                    style="font-weight: bold;margin-bottom: 1rem;">第六届蓝桥杯大赛个人赛省赛（软件类）真题<span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401264331.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20161107/1478502966297813.rar">第六届蓝桥杯大赛个人赛省赛（软件类）真题.rar</a></p>
                </div>
            </div>
            <div class="file8" style="margin-top: 3rem;">
                <span style="margin-right: 2rem;font-weight: bold;">08</span><span
                    style="font-weight: bold;margin-bottom: 1rem;">第六届蓝桥杯大赛个人赛决赛（软件类）真题<span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401264331.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20161107/1478502988962220.rar">第六届蓝桥杯大赛个人赛决赛（软件类）真题.rar</a></p>
                </div>
            </div>
            <div class="file9" style="margin-top: 3rem;">
                <span style="margin-right: 2rem;font-weight: bold;">09</span><span
                    style="font-weight: bold;margin-bottom: 1rem;">第六届大赛个人赛电子类_单片机_IAP15F2K61S2拓展版资料 <span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401264331.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20161107/1478503100399856.rar">第六届大赛个人赛电子类-单片机_IAP15F2K61S2扩展板资料.rar</a></p>
                </div>
            </div>
            <div class="file10" style="margin-top: 3rem;">
                <span style="margin-right: 2rem;font-weight: bold;">10</span><span
                    style="font-weight: bold;margin-bottom: 1rem;">第六届大赛个人赛电子类_嵌入式_CT117E竞赛平台原理图与说明书<span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401264331.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20161107/1478503143528123.rar">第六届大赛个人赛电子类-嵌入式_CT117E竞赛平台原理图与说明书.rar</a></p>
                </div>
            </div>
            <div class="file11" style="margin-top: 3rem;">
                <span style="margin-right: 2rem;font-weight: bold;">11</span><span
                    style="font-weight: bold;margin-bottom: 1rem;">第六届大赛个人赛电子类_单片机_CT107D训练平台使用说明与电路原理图<span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401264331.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20161107/1478503177917798.rar">第六届大赛个人赛电子类-单片机_CT107D训练平台使用说明与电路原理图.rar</a></p>
                </div>
            </div>
            <div class="file12" style="margin-top: 3rem;">
                <span style="margin-right: 2rem;font-weight: bold;">12</span><span
                    style="font-weight: bold;margin-bottom: 1rem;">第五届蓝桥杯大赛个人赛（软件类）省赛真题<span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401264331.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20161107/1478503224146299.rar">第五届蓝桥杯大赛个人赛（软件类）校内选拔题目.rar</a></p>
                </div>
            </div>
            <div class="file13" style="margin-top: 3rem;">
                <span style="margin-right: 2rem;font-weight: bold;">13</span><span
                    style="font-weight: bold;margin-bottom: 1rem;">第八届全国软件和信息技术专业人才大赛摸拟题单片机设计与开发科目 <span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401848884.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20161107/1478503968788014.pdf">全国软件和信息技术专业人才大赛摸拟题单片机设计与开发科目.pdf</a></p>
                </div>
            </div>
            <div class="file14" style="margin-top: 3rem;">
                <span style="margin-right: 2rem;font-weight: bold;">14</span><span
                    style="font-weight: bold;margin-bottom: 1rem;">第八届全国软件和信息技术专业人才大赛摸拟题嵌入式设计与开发科目<span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401848884.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20161107/1478504086425055.pdf">全国软件和信息技术专业人才大赛摸拟题嵌入式设计与开发科目.pdf</a></p>
                </div>
            </div>
            <div class="file15" style="margin-top: 3rem;">
                <span style="margin-right: 2rem;font-weight: bold;">15</span><span
                    style="font-weight: bold;margin-bottom: 1rem;"> 第八届蓝桥杯大赛个人赛省赛（软件类）真题<span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401264331.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20171023/1508720062900220.rar">第八届蓝桥杯大赛个人赛省赛（软件类）真题.rar</a></p>
                </div>
            </div>
            <div class="file16" style="margin-top: 3rem;">
                <span style="margin-right: 2rem;font-weight: bold;">16</span><span
                    style="font-weight: bold;margin-bottom: 1rem;">第九届蓝桥杯大赛模拟题单片机设计与开发科目 <span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401264331.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20170922/1506067660866378.rar">第九届蓝桥杯大赛模拟题单片机设计与开发科目.rar</a></p>
                </div>
            </div>
            <div class="file17" style="margin-top: 3rem;">
                <span style="margin-right: 2rem;font-weight: bold;">17</span><span
                    style="font-weight: bold;margin-bottom: 1rem;">第九届蓝桥杯大赛模拟题嵌入式设计与开发科目<span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401264331.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20170922/1506067766607432.rar">第九届蓝桥杯大赛模拟题嵌入式设计与开发科目.rar</a></p>
                </div>
            </div>
            <div class="file18" style="margin-top: 3rem;">
                <span style="margin-right: 2rem;font-weight: bold;">18</span><span
                    style="font-weight: bold;margin-bottom: 1rem;">“蓝桥杯”比赛系统 选手文档 <span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401848884.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20180207/1517983232418142.pdf">“蓝桥杯”比赛系统 选手文档.pdf</a></p>
                </div>
            </div>
            <div class="file19" style="margin-top: 3rem;">
                <span style="margin-right: 2rem;font-weight: bold;">19</span><span
                    style="font-weight: bold;margin-bottom: 1rem;">第九届蓝桥杯大赛竞赛大纲（软件类）<span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401848884.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20180207/1517983424205832.pdf">第九届蓝桥杯大赛竞赛大纲（软件类）.pdf</a></p>
                </div>
            </div>
            <div class="file20" style="margin-top: 3rem;">
                <span style="margin-right:2rem;font-weight: bold;">20</span><span
                    style="font-weight: bold;margin-bottom: 1rem;">第九届蓝桥杯大赛竞赛大纲（电子类）<span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401848884.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20180207/1517983681184222.pdf">第九届蓝桥杯大赛竞赛大纲（电子类）.pdf</a></p>
                </div>
            </div>
            <div class="file21" style="margin-top: 3rem;">
                <span style="margin-right: 2rem;font-weight: bold;">21</span><span
                    style="font-weight: bold;margin-bottom: 1rem;">第八届蓝桥杯大赛个人赛决赛（软件类）真题 <span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401264331.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20180417/1523941500503698.rar">第八届蓝桥杯大赛个人赛决赛（软件类）真题.rar</a></p>
                </div>
            </div>
            <div class="file22" style="margin-top: 3rem;">
                <span style="margin-right: 2rem;font-weight: bold;">22</span><span
                    style="font-weight: bold;margin-bottom: 1rem;"> 第九届蓝桥杯大赛个人赛决赛（电子类）模拟题 <span
                    style="margin-left: 5rem;">文件下载</span></span>
                <div class="link" style="margin-top: 1rem;">
                    <img src="http://upload.lanqiao.cn/image/20180510/1525921401264331.gif" style="margin-left: 1rem;margin-top:0.1rem;float: left;">
                    <p><a href="http://upload.lanqiao.cn/file/20180510/1525921559134261.rar">第九届蓝桥杯大赛个人赛决赛（电子类）模拟题.rar</a></p>
                </div>
            </div>

        </div>
    </div>


    <div class="pg_footer">
        {% include 'footer.html' %}
    </div>
</div>
</body>
</html>